default: &default
  adapter: postgresql
  encoding: unicode
  username: <%= ENV['MY_APP_USERNAME'] %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database:  <%= ENV['MY_APP_DATABASE_DEVELOPMENT'] %>

test:
  <<: *default
  database: <%= ENV['MY_APP_DATABASE_TEST'] %>

production:
  <<: *default
  database: <%= ENV['MY_APP_PRODUCTION'] %>
  password: <%= ENV['MY_APP_DATABASE_PASSWORD'] %>
  url: <%= ENV['MY_APP_DATABASE_URL'] %>
